@font-face {
	font-family: 'Digital-7';
	src: url('https://res.cloudinary.com/indianpac/raw/upload/naf/fonts/Digital-7.woff') format('woff'),  url('https://res.cloudinary.com/indianpac/raw/upload/naf/fonts/Digital-7.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'digital-7.regular';
	src: url('https://res.cloudinary.com/indianpac/raw/upload/naf/fonts/digital-7.regular.eot'),  url('https://res.cloudinary.com/indianpac/raw/upload/v1532943577/naf/fonts/digital-7.regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

* {
    font-family: roboto;
}

/** BASIC LAYOUT AND COMMON CLASSES BY VICTOR*/
.container-fluid {
    padding: 0;
}

p {
    text-align: justify;
    font-size: .9rem;
}

.header {
    float: left;
    width: 100%;
    padding: 30px 0px;
}

.header img {
    height: 114px;
    float: left;
}

.header ul {
    float: right;
    padding: 0;
    margin: 0;
}

.header ul li {
    float: left;
    margin: 0;
    color: #FFF;
    list-style: none;
    padding: 0px 12px;
}

.header ul li.english {
    background: linear-gradient(to right,#21b459 0%, #ff0000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.header ul li.hindi {
    background: linear-gradient(to right, #f79f45 0%, #278747 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.header ul li:first-child {
    border-right: 1px solid #21b459;
}

.content_header_banner {
    color:#FFF;
    text-align:left;
}

.content_header_banner .button_register_div {
    text-align: left;
}

.content_header_banner .button_register_div button.button_register {
    float: left;
}

.see_how_it_works {
    float: left;
    margin: 20px 12px;
    cursor: pointer;
    font-size: 14px;
    font-family: roboto;
    text-transform: uppercase;
}

.see_how_it_works img {
    width: 21px;
}

.banner_bg {
    background-image: url('../images/header-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: -moz-calc(100vh - 13rem);
    min-height: -webkit-calc(100vh - 13rem);
    min-height: calc(100vh - 13rem);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 0rem;
    padding-bottom: 0rem;
    position: relative;
    z-index: 9;
}

.bg_banner_india {
    background-image: url('../images/bg_india.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.campaign-numbers {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.event_numbers {
    text-align: center;
}

.event_numbers img {
    width: 55px;
}

.event_numbers p {
    text-align: center;
    margin-top: 10px;
    font-size: 1.5rem;
    margin-bottom: 0;
    font-weight: 700;
}

.event_numbers p.digital_numbers {
    font-family: Digital-7;
    font-size: 2rem;
    margin-top: -5px;
    font-weight: 700;
}

.first_slider {
    text-align: center;
    background-color: #fafafa;
    padding-top: 25px;
    margin-top: 50px;
}

.first_slider h2, .about-prashant h1 {
    font-size: 1.8rem;
}

.first_slider h2 {
    margin-bottom: 30px;
}

.campaign-about-yip{
    background-image: url('../images/about-yip-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    height: 800px;
}

.about-yip-content {
    background-image: url('../images/about-yip-text-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    height: 800px;
}

.campaign-about-yip:before, .campaign-about-yip-inner:before {
    display: none !important;
}

.about-yip-contento-inner {
    width: 60%;
    margin: 5% 26%;
}

.about-yip-contento-inner h1, .about-yip-contento-inner p, .about-yip-contento-inner ul li {
    color: #f9f9f9;
}

.about-yip-image img {
    max-width: 100%;
}

.about-yip-contento-inner ul {
    padding: 0 26px;
}

.about-yip-contento-inner ul li {
    list-style-image: url('../images/arrow_li.png');
}

.button_register_div {
    text-align: center;
    width: 100%;
}

.button_register {
    height: 35px;
    border-radius: 30px;
    width: 170px;
    text-transform: uppercase;
    font-size: 14px;
    color: #FFF;
    font-family: roboto;
    background-color: #21b459;
    background-image: linear-gradient(
        to right, 
        #3be07a,
        #21b459 30%,
        #21b459 70%,
        #38da75
    );
    border: none;
    margin: 15px auto;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
}

.campaign-gallery-yip {
    background: #FFF;
    height: auto;
    padding-bottom: 2rem;
}

.campaign-events-yip {
    background: #f3f3f3;
    height: auto;
    padding-bottom: 2rem;
}

#carouselGallery .carousel-control-next, #carouselGallery .carousel-control-prev {
    width: 15px;
    margin: -9px;
    height: 28px;
    top: 50%;
}

.gallery_card {
    max-width: 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    padding-right: 0px;
}

#carouselExampleControls .carousel-control-next, #carouselExampleControls .carousel-control-prev, #carouselExampleControlsHindi .carousel-control-next, #carouselExampleControlsHindi .carousel-control-prev {
    width: 40px;
    height: 90px;
    top: 35%;
    background: #FFF;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.55);
}

#carouselExampleControlsMobile .carousel-indicators, #carouselExampleControlsHindiMobile .carousel-indicators, #carouselGalleryMobile .carousel-indicators {
    margin-bottom: -30px;
}

#carouselExampleControlsMobile .carousel-indicators li, #carouselExampleControlsHindiMobile .carousel-indicators li, #carouselGalleryMobile .carousel-indicators li {
    background-color: #21b459;
}

.carousel-inner.row.w-100.mx-auto {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    width: 97% !important;
}

.campaign-gallery-yip h1, .campaign-events-yip h1 {
    text-align: center;
    margin-bottom: 2rem;
    padding-top: 2rem;
    font-size: 1.8rem;
    font-weight: 400;
}

.yip_event_list {
    font-size: 1.2rem;
    color: #FFF;
    background: #e97900;
    padding: 15px 20px;
    margin: 0;
}

.video-image-overlay img {
    width: 100%;
}

.campaign-events-yip .card-deck {
    height: 350px;
}

.campaign-events-yip #accordion {
    height: 285px;
    overflow-y: scroll;
}

.campaign-events-yip #accordion::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.campaign-events-yip #accordion::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

.campaign-events-yip #accordion::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #d77206;
}

.campaign-events-yip .card-deck .card {
    margin-right: 0;
    border-radius: 0;
    /* height: 95%; */
    box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
}

.campaign-events-yip #accordion .card {
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #eee;
}

.campaign-events-yip #accordion .card .card-header{
    padding: 0;
    border-radius: 0;
}

.campaign-events-yip #accordion .card .card-header button {
    width: 100%;
    margin: 0;
    border: 0;
    text-align: left;
    padding: 10px 20px;
    background: #dadada;
    border-radius: 0;
    text-decoration: none;
    color: #333;
    font-size: 0.90rem;
    display: block;
    white-space: normal;
}

.card_events {
    padding: 0;
    background: #ebebeb;
    margin-left: -1px;
    cursor: pointer;
}

.card_events .card-body{
    padding: 0;
}

.event_details_name {
    background: #ebebeb;
    padding: 10px;
    width: 100%;
    float: left;
}

.event_details_name p.date {
    float: left;
    text-align: center;
    width: 15%;
    border-right: 1px solid #FFF;
    margin: 1%;
}

.event_details_name p.date span {
    color: #c00000;
}

.event_details_name p.card-text {
    float: left;
    padding: 2px 6px 0px;
    width: 82%;
    height: 25px;
    overflow:hidden;
    margin: 0;
    -webkit-transition: 0.5s ease-in;  
    -moz-transition: 0.5s ease-in;  
    -o-transition: 0.5s ease-in;  
    transition: 0.5s ease-in; 
}

.event_details_name p.text-muted {
    color: #6c757d!important;
    padding: 0px 6px 0px;
    font-size: 0.75rem;
    float: left;
    margin: 0;
    height: 20px;
    overflow:hidden;
    -webkit-transition: 0.5s ease-in;  
    -moz-transition: 0.5s ease-in;  
    -o-transition: 0.5s ease-in;  
    transition: 0.5s ease-in; 
}

/* .event_details_name p.card-text:hover, .event_details_name p.text-muted:hover {
    -webkit-transition: 4s ease-in;  
    -moz-transition: 4s ease-in;  
    -o-transition: 4s ease-in;  
    transition: 4s ease-in;  
    text-indent: -200px;
} */

.campaign-events-yip #accordion .card .card-body p {
    padding: 0;
    margin: 0;
    font-size: 0.90rem;
}

.campaign-events-yip #accordion .card .card-header button[aria-expanded="true"] {
    background: #2c2d28;
    color: #FFF;
}

.campaign-highlights-yip {
    background: #1c2025
}

.campaign-highlights-yip-inner h1 {
    text-align: center;
    padding: 20px;
    color: #FFF;
}

.inner_gallery_carosuel {
    padding: 0;
    background: #dadada;
    box-shadow: 0px 5px 15px rgba(0,0,0,.3);
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 15px;
}

.inner_gallery_carosuel h2 {
    margin: 0;
    font-size: 1rem;
    padding: 20px;
    text-align: center;
}

.location_marker {
    position: absolute;
    right: 6.8%;
    background: #d26d00;
    padding: 5px 15px;
    bottom: 21.3%;
    color: #FFF;
}

#myModal .modal-body {
    height: 450px;
    overflow-y: auto;
}

.video-image-overlay {
    padding-top: 30px;
}

.embed-responsive {
    max-height: 450px;
}

.close_video {
    display: none;
    float: right;
    background: #333;
    color: #FFF;
    padding: 10px;
    cursor: pointer;
}

.modal-body a.thumbnail img {
    width: 225px;
    margin: 10px 10px;
}

.home footer {
    float: left;
	width: 100%;
	background-color: #010101;
}
.footerIn{width: 100%; height: 60px; }
.footerIn ul{height: 40px; float: right; margin: 10px 0;}
.footerIn li{display: inline-block; vertical-align: middle; padding-left: 40px; line-height: 40px; font-size: 16px; cursor: pointer;font-family: Roboto-Bold}
.footerIn a, .footerIn li {
	color: #c0c0c0;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	padding-left: 6px;
}
.footerIn li {
	font-size: 10px;
	padding-left: 12px;
}
.copyright {
    font-size: 12px;
    float: left;
    line-height: 40px;
    margin: 10px 0;
    color: #bdbdbd;
}
.copyright-ipac {
    float: left;
}
.follow_flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
}

.about-ipac {
    background: #f3f3f3;
    padding: 30px 0;
}

.about-prashant {
    padding: 30px 0;
    min-height: 450px;
}

.about-prashant #pk_1 {
    position: absolute;
}

#pk_1 img, #pk_2 img {
    width: 65%;
    margin-left: 10%;
}

.about-prashant #pk_2 {
    position: absolute;
    margin-top: 125px;
    margin-left: 75px;
}

.about-ipac .button_register_div {
    text-align: left;
}

.mobile {
    display: none;
}

@media (max-width: 768px) {
    .banner_bg {
        background-image: url('../images/mobile_banner.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        min-height: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-top: 0rem;
        padding-bottom: 0rem;
        position: relative;
        z-index: 9;
        height: 240px;
    }

    .content_header_banner {
        padding: 0;
    }

    .content_header_banner h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .header {
        padding: 10px 0px;
    }

    .header img {
        height: 85px;
    }

    .header ul {
        padding: 18px 0px;
    }

    .button_register {
        width: 130px;
        margin-left: 10px;
        font-size: 0.9rem;
        height: 35px;
    }

    .see_how_it_works {
        margin: 5px 10px;
        font-size: 0.9rem;
        clear: both;
    }

    .content_header_banner p {
        text-align: center;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .mobile_text {
        background: #232a30;
    }

    .mobile_text .content_header_banner {
        padding: 20px;
    }

    .about-ipac {
        padding: 5% 0;
    }

    .event_details_name p.card-text:hover, .event_details_name p.text-muted:hover {
        -webkit-transition: 4s ease-in;  
        -moz-transition: 4s ease-in;  
        -o-transition: 4s ease-in;  
        transition: 4s ease-in;  
        text-indent: -200px;
    }

    .about-prashant #pk_2 {
        position: static;
        margin: 0;
    }

    #pk_2 img {
        width: 100%;            
        margin: 15px 0;
    }
    
    .about-ipac h1, .about-prashant h1 {
        font-size: 1.5rem;
    }

    .event_numbers img {
        width: 55px;
    }

    p, .about-ipac p {
        font-size: 0.75rem;
    }

    .event_numbers p {
        font-size: 18px;
    }

    .campaign-events-yip .card-deck {
        height: auto;
    }

    .campaign-about-yip {
        height: auto;
    }
    .about-yip-contento-inner-mobile {
        background: #d77206;
        padding-bottom: 30px;
    }

    .d-block {
        margin: 0;
    }

    .inner_gallery_carosuel img {
        width: 100%;
    }

    .about-yip-contento-inner-mobile h1, .about-yip-contento-inner-mobile p, .about-yip-contento-inner-mobile ul li {
        color: #f9f9f9;
        font-size: 0.8rem;
    }
    
    .about-yip-contento-inner-mobile h1 {
        font-size: 1.8rem;
        padding-top: 1.5rem;
        margin-bottom: 1rem;
    }

    .about-yip-contento-inner-mobile ul {
        padding: 0 26px;
    }
    
    .about-yip-contento-inner-mobile ul li {
        list-style-image: url('../images/arrow_li.png');
    }
    
    .campaign-gallery-yip h1, .campaign-events-yip h1 {
        font-size: 1.5rem;
        padding-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .first_slider h2, .about-prashant h1 {
        font-size: 1.5rem;
        font-weight: 400;
    }

    .carousel-inner.row.w-100.mx-auto {
        width: 90% !important;
    }

    .location_marker {
        bottom: 10.8%;
        right: 0;
    }

    .footerIn ul {
        width: 100%;
        margin-bottom: 0;
    }
    .copyright {
        margin-top: 0;
        padding-left: 20px;
    }
}

@media (max-width: 360px) {
    .footerIn ul {
        width: 100%;
        padding: 0;
        margin-bottom: 0;
    }
    .copyright {
        margin-top: 0;
        padding-left: 0;
    }
    .copyright-ipac {
        float: left;
        width: 100%;
        text-align: center;
    }
    .follow_flex {
        float: left;
        width: 100%;
    }
}

@media (min-width: 1680px) and (max-width: 1920px) {
    .banner_bg {
        min-height: -moz-calc(100vh - 16rem);
        min-height: -webkit-calc(100vh - 16rem);
        min-height: calc(100vh - 16rem);
    }
}